<mat-toolbar color="primary">
  <div class="section">
    <button><a href="#">WELCOME</a></button>
    <button><a href="#">ENTOURAGE</a></button>
    <button><a href="#">DRESS CODE</a></button>
    <button><a href="#">LOCATION</a></button>
    <button><a href="#">REGISTRY</a></button>
    <button><a href="#">RSVP</a></button>
    <button><a href="#">CONTACT</a></button>
  </div>
</mat-toolbar>

<!-- <div id="navbar">
  <a href="#">WELCOME</a>
  <a href="#">ENTOURAGE</a>
  <a href="#">DRESS CODE</a>
  <a href="#">LOCATION</a>
  <a href="#">REGISTRY</a>
  <a href="#">RSVP</a>
  <a href="#">CONTACT</a>
</div> -->
