.mat-toolbar.mat-primary {
  background: #ffe8f1;
  position: fixed;
}

button {
  border: none;
  background: #ffe8f1;
  font-size: 1em;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #e1c565;
  font-family: "Playfair Display";
}

.section {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 10rem;
  margin-left: 10rem;
  justify-content: space-between;
}

.link {
  margin-left: 2rem;
  margin-right: 2rem;
}
