/* button {
  border: none;
  background: #ffe8f1;
  font-size: 1em;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #e1c565;
  font-family: "DM Serif Display", serif;
  font-size: 1.3rem;
}

.section {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.link {
  margin-left: 2rem;
  margin-right: 2rem;
}

.navbar {
  display: flex;
  background-color: #ffe8f1;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.menu-container {
  display: none;
}

@media (max-width: 1024px) {
  .menu-container {
    display: block;
  }
}

@media (max-width: 1024px) {
  .section {
    display: none;
  }

  .section.is-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    width: 100%;
    background: #ffe8f1;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
} */

header {
  background-color: transparent;
  position: absolute;
  z-index: 100;
  width: 100%;
}

.desktop-menu ul {
  padding: 0;
  margin: 0;
}

.desktop-menu ul li {
  list-style-type: none;
  color: white;
  display: inline-block;
  font-size: 1.5vw;
  font-weight: bold;
  padding-left: 5%;
  font-family: "Playfair Display", serif;
}

.desktop-menu ul li:hover {
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.icon-container {
  display: none;
}

.menu-icon {
  display: none;
}

button {
  margin-right: 2rem;
  padding: 1rem 2rem;
  font-size: 1vw;
  border: none;
  font-family: "Playfair Display", serif;
}

@media screen and (min-width: 128px) {
  .navbar-container {
    display: flex;
  }

  .logo-container img {
    width: 15vw;
  }

  .desktop-menu {
    position: fixed;
    right: -100%;
    top: 0;
    background: #ce8f92;
    width: 100%;
    height: 80%;
    transition: 0.4s ease-in-out;
  }

  .rsvp-menu {
    position: fixed;
    right: -100%;
    top: 380px;
    background: #ce8f92;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: 0.4s ease-in-out;
  }

  .mobile-menu {
    right: 0;
    transition: 0.4s ease-in-out;
  }

  .desktop-menu ul {
    transform: translateY(90%);
  }

  .desktop-menu ul li {
    display: block;
    color: white;
    padding: 1rem;
    font-size: 5vw;
    text-align: center;
    z-index: 1;
  }

  .logo-container {
    padding: 0.5rem 1rem;
    width: 30%;
    z-index: 100;
  }

  .icon-container {
    display: flex;
    width: 70%;
    right: 0;
    z-index: 100;
  }

  .menu-icon {
    display: block;
    color: white;
    font-size: 10vw;
    width: 100%;
    padding: 0.5rem 1rem;
  }

  .button-container {
    width: 70%;
  }

  button {
    margin: 0;
    font-size: 3vw;
  }
}

@media screen and (min-width: 650px) {
  .menu-icon {
    font-size: 7vw;
  }

  .logo-container img {
    width: 50%;
  }

  .rsvp-menu {
    top: 550px;
  }
}

@media screen and (min-width: 1000px) {
  .icon-container {
    display: none;
  }

  .logo-container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-container img {
    width: 50%;
  }

  .navbar-container {
    width: 100%;
  }

  .desktop-menu {
    position: static;
    background: transparent;
  }

  .link-container {
    position: static;
    width: 40%;
    padding: 1rem 2rem;
  }

  .desktop-menu ul {
    transform: translateY(0%);
  }

  .desktop-menu ul li {
    font-size: 2vw;
    display: inline-block;
  }

  .rsvp-menu {
    position: static;
    width: 40%;
    background: transparent;
    display: block;
    justify-content: initial;
    align-items: initial;
  }

  .rsvp-menu button {
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 2vw;
    float: right;
  }
}
