<app-splash-screen></app-splash-screen>
<app-header></app-header>
<!-- <app-background></app-background> -->
<app-carousel></app-carousel>
<app-welcome id="welcome" class="welcome"></app-welcome>
<app-entourage id="entourage" class="entourage"></app-entourage>
<app-dress-code id="dress-code" class="dress-code"></app-dress-code>
<app-location id="location" class="location"></app-location>
<app-registry id="registry" class="registry"></app-registry>
<app-rsvp id="rsvp" class="rsvp"></app-rsvp>
<app-footer id="contact" class="contact"></app-footer>
