<div class="section-container">
  <div class="content-container">
    <div class="title-container text-center"><strong>Thank you!</strong></div>
    <div class="message-container text-center">
      Your presence on our special day is the greatest gift of all. However, if
      you wish to contribute in another way, a monetary gift would be greatly
      appreciated as we embark on this new chapter together.
    </div>
    <div class="message-container text-center">
      Kindly include a note with your gift, so we can express our heartfelt
      gratitude. Please mention your name in the remarks/notes section.
    </div>
  </div>
  <div class="image-container">
    <img src="assets/images/1.jpg" alt="R&R 7" />
    <div class="shapes-container text-center">
      <object class="qr" data="assets/images/arch qr.svg">
        <div>Account Name:</div>
      </object>
      <object class="qr" data="assets/images/arch qr.svg"></object>
      <object class="qr" data="assets/images/arch qr.svg"></object>
      <object class="qr" data="assets/images/arch qr.svg"></object>
    </div>
  </div>
</div>
