.section-container {
  display: flex;
  padding: 10rem;
}

.content-container-1 {
  width: 65%;
  margin-right: 5rem;
  z-index: 10;
}

.content-container-2 {
  width: 35%;
  margin-left: 5rem;
  z-index: 10;
}

.title-container {
  width: 100%;
  position: sticky;
  color: #e1c565;
  top: 50%;
  transform: translate(0, -50%);
}

.title-container h1 {
  text-align: right;
  font-family: "DM Serif Display", serif;
  font-size: 4vw;
}

.image-container {
  width: 100%;
  height: 70rem;
  background-color: white;
}

@media screen and (max-width: 479.98px) {
  .section-container {
    flex-direction: column-reverse;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .title-container {
    padding-bottom: 0.2rem;
    position: relative;
    transform: translate(0, 0);
  }

  .title-container h1 {
    font-size: 9vw;
    text-align: center;
  }

  .content-container-1 {
    margin-right: 0;
    width: 100%;
    padding-top: 0.3rem;
  }

  .content-container-2 {
    margin-left: 0;
    width: 100%;
    padding-bottom: 0.3rem;
  }
}
