.section-container {
  padding-top: 8rem;
  position: relative;
}

.content-container {
  width: 100%;
}

.title-container {
  width: 100%;
  color: white;
  font-family: "Playfair Display", serif;
}

.message-container {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Playfair Display", serif;
}

.image-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  object-position: center;
}

.shapes-container {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 0;
  padding-bottom: 10rem;
}

.qr {
  width: 18vw;
  margin: 0;
  padding: 1rem;
}

@media screen and (min-width: 128px) {
  .section-container {
  }

  .content-container {
    padding: 0.5rem 3rem;
    position: absolute;
    transform: translateY(20%);
    z-index: 10;
  }

  .title-container {
    font-size: 6vw;
    padding-bottom: 1.5rem;
  }

  .message-container {
    font-size: 4vw;
    padding-bottom: 2.5rem;
  }

  .image-container {
    height: 80vh;
    padding: 0;
  }

  .image-container img {
    object-position: 51% center;
    filter: brightness(65%);
  }

  .shapes-container {
    display: block;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    position: static;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }

  .shapes-container img {
    height: 50vh;
  }
}
<<<<<<< HEAD

@media screen and (min-width: 650px) {
  .image-container img {
    object-position: 50% center;
  }
}

@media screen and (min-width: 1000px) {
  .title-container {
    font-size: 4vw;
  }

  .message-container {
    font-size: 2.4vw;
    padding: 3rem;
  }

  .shapes-container {
    display: grid;
  }

  .shapes-container img {
    height: 50vh;
  }
}

@media screen and (min-width: 1200px) {
  .content-container {
    position: static;
    transform: translate(0%);
  }

  .section-container {
    padding-bottom: 10rem;
  }

  .title-container {
    font-size: 4.4vw;
  }

  .message-container {
    font-size: 2.6vw;
    padding: 2rem 4.5rem;
  }

  .shapes-container {
    position: absolute;
    display: flex;
    top: 75%;
  }

  .grid-item {
    margin: 0;
  }

  .grid-item img {
    margin: 0;
    height: 46vh;
  }
}

@media screen and (min-width: 1400px) {
  .section-container {
    padding-bottom: 15rem;
  }

  .image-container img {
    height: 90vh;
  }

  .grid-item img {
    height: 59vh;
  }

  .content-container {
    padding: 5rem 13rem;
  }

  .title-container {
    font-size: 2.8vw;
  }

  .message-container {
    font-size: 1.4vw;
  }
}
=======
>>>>>>> parent of 4bc4a09 (Mobile and Tablet responsiveness)
