.section-container {
  z-index: 10;
  text-align: center;
  background: white;
}

.content-container {
  width: 100%;
  height: 27.3vh;
}

.image-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image-container img {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  object-fit: cover;
  width: 100%;
  filter: brightness(65%);
}

.title-container {
  width: 100%;
  font-family: "Playfair Display", serif;
  position: absolute;
  color: white;
}

.title-container h1 {
  font-size: 3vw;
}

.button-container {
  position: absolute;
  width: 100%;
  font-size: 1.1w;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30%;
}

.button-container button {
  font-family: "Playfair Display", serif;
}

/* .button-container .form-container {
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10;
}

.form-content-container {
  width: 60%;
  height: 100%;
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  margin: auto;
  z-index: 10;
} */

/* .form-fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 100vh;
}

.form-fields-container select,
input,
textarea {
  width: 50%;
  line-height: 3em;
  /* background: white !important;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid grey;
  transition: border-radius 0.2s, border-color 10s;
  color: #000;
}

select {
  outline: none;
  border: none;
  background: transparent;
}

::placeholder {
  color: black;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid grey;
  border-radius: 1em;
}

.submit-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 8%;
  line-height: 2em;
  border-radius: 1em;
  background-color: #e1c565;
  color: black;
  border: 0px solid transparent;
} */

iframe {
  width: 100%;
  height: 100%;
  z-index: 10;
}

@media screen and (min-width: 128px) {
  .section-container {
    margin-top: 3rem;
  }

  .content-container {
    height: 80vh;
  }

  .image-container {
    height: 80vh;
    transform: translateY(12%);
  }

  .image-container img {
    height: 60vh;
    object-fit: cover;
    object-position: 45% center;
  }

  /* .title-container,
  .button-container {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
  } */

  .title-container {
    top: 15%;
  }

  .title-container h1 {
    font-size: 5vw;
  }

  .button-container button {
    font-size: 4vw;
    border: none;
    padding: 0.5rem 1rem;
  }

  .title-container h1 {
    /* font-family: "Playfair Display"; */
    font-size: 5vw;
  }
}

@media screen and (min-width: 650px) {
  .image-container img {
    object-position: 40% center;
  }

  .title-container {
    top: 10%;
  }

  .button-container {
    top: 20%;
  }
}

@media screen and (min-width: 1000px) {
  .section-container {
    padding: 4rem 0;
  }

  .title-container {
    top: 5%;
  }

  .title-container h1 {
    font-size: 3.7vw;
  }

  .button-container {
    top: 16%;
  }

  .button-container button {
    font-size: 2.4vw;
  }
}
