.carousel {
  width: 100%;
  margin: 0 auto;
}

.slide {
  position: relative;
}

.slide img {
  width: 100%;
}

.carousel {
  width: 100%;
  margin: 0 auto;
}

.slide img {
  width: 100%;
}

.img-style {
  width: 1920px;
  height: 100%;
  object-fit: cover;
  object-position: -50% 50;
  filter: brightness(40%);
}

.carousel-title-container {
  width: 100%;
}
.carousel-title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #e1c565;
  transform: translate(-50%, -45%);
  z-index: 1000;
  font-family: "Sacramento", cursive;
  font-size: 8vw;
}

@media screen and (max-width: 1023.98) {
  .img-style {
    height: 75vh;
  }
}

@media screen and (max-width: 767.98px) {
  .img-style {
    height: 50vh;
  }

  .content-container-1 {
    margin-right: 1.5rem;
  }

  .content-container-2 {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 479.98px) {
  .img-style {
    height: 100vh;
  }

  .carousel-title {
    font-size: 15vw;
    text-align: center;
  }
}
