.carousel {
  width: 100%;
  margin: 0 auto;
}

.slide {
  position: relative;
}

.slide img {
  width: 100%;
}

.carousel {
  width: 100%;
  margin: 0 auto;
}

.slide img {
  width: 100%;
}

.img-style {
  width: 1920px;
  height: 950px;
  object-fit: cover;
  object-position: -50% 50;
  filter: brightness(40%);
}

/* .carousel-container {
  width: 100%;
  overflow: hidden;
} */

.carousel-title-container {
  width: 100%;
}
.carousel-title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #e1c565;
  transform: translate(-50%, -45%);
  z-index: 1000;
  font-family: "Sacramento", cursive;
  font-size: 8vw;
}
