/* .carousel-container {
  margin: auto;
  text-align: center;
  overflow: hidden;
  width: 85vw;
  height: 100vh;
}

.carousel-container img {
  display: none;
}

.carousel-container img.image-active {
  display: block;
  width: 100%;
  height: 100%;
} */

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-slides {
  display: flex;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}
