<!-- <div class="carousel-container">
  <ng-image-slider
    [images]="slides"
    #nav
    [infinite]="true"
    [autoSlide]="1"
    [imageSize]="{ width: 1920, height: 1080 }"
    [slideImage]="1"
    [showArrow]="false"
  ></ng-image-slider>
</div> -->

<div class="landing-container">
  <div class="image-container">
    <img src="assets/images/landing.jpg" alt="R&R 1" />
  </div>
  <div class="subtext-container">
    <h2>We're getting married!</h2>
  </div>
  <div class="title-container">
    <h1>Robert & Raissa</h1>
  </div>
  <div class="date-container">
    <h3>17 December 2024</h3>
  </div>
</div>
