<app-header></app-header>
<div class="landing-container">
  <div class="image-container">
    <img src="assets/images/landing.jpg" alt="R&R 1" />
  </div>
  <div class="subtext-container">
    <h2>We're getting married!</h2>
  </div>
  <div class="title-container">
    <h1>Robert & Raissa</h1>
  </div>
  <div class="date-container">
    <h3>17 December 2024</h3>
  </div>
</div>
<app-location id="location"></app-location>
<app-about-us id="about-us"></app-about-us>
<app-registry id="registry"></app-registry>
<app-rsvp id="rsvp"></app-rsvp>
<app-footer id="footer"></app-footer>
