.section-container {
  display: flex;
}

.content-container {
  width: 60%;
}

.title-container {
  width: 100%;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 3.5vw;
}

.subtext-container {
  font-family: "Source Serif 4", serif;
  font-size: 1.4vw;
  width: 100%;
  color: white;
}

.image-container {
  width: 40%;
  height: 80vh;
  background-color: white;
}

.carousel {
  width: 100%;
  margin: 0 auto;
}

.slide {
  overflow: hidden;
  height: 90vh;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subtext-container {
  width: 70%;
  margin: 0 auto; /* Center the container horizontally */
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack the items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text inside the .facts-container */
}

.facts-container {
  justify-content: center;
  width: 100%;
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 1em;
}

#grey {
  color: #e3dad4;
}

@media screen and (min-width: 128px) {
  .section-container {
    /* display: flex;
    flex-direction: column-reverse; */
    position: relative;
  }

  .image-container {
    position: static;
    width: 100%;
    height: 90vh;
  }

  .image-container img {
    object-fit: cover;
    height: 100%;
    filter: brightness(55%);
  }

  .content-container {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
  }

  .title-container {
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 15%;
    font-size: 7vw;
  }

  .subtext-container {
    width: 100%;
    position: absolute;
    font-size: 4vw;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 20%;
    padding: 2rem 2.5rem;
  }

  .facts-container {
    width: 100%;
    padding-bottom: 1.5rem;
  }
}
