/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Playfair Display";
  src: url(/frontend/src/assets/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Gustatory Delight";
  src: url(/frontend/src/assets/GustatoryDelightRegular-rgX3L.ttf);
}

html,
body {
  height: 100%;
  background: #ffe8f1;
}
body {
  margin: 0;
  color: #e1c565;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary: #3f51b5;
  --accent: #e91e63;
  --warn: #f44336;
}

/* Apply the light theme styles to Angular Material components */
body.mat-light-theme {
  --background: #eaeaea;
  --text: #000000;
}

/* Customize specific Angular Material components if needed */
/* For example, updating the background of mat-card */
