/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Playfaire Display";
  src: url(/frontend/src/assets/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Gustatory Delight";
  src: url(/frontend/src/assets/GustatoryDelightRegular-rgX3L.ttf);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
