.section-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  padding: 5rem;
}

.content-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.links-container {
  width: 100%;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
}

.links-container a {
  text-decoration: none;
  color: white;
}

.image-container {
  width: 40%;
  height: 40vh;
  margin-top: 3.5rem;
  background-color: white;
}

@media screen and (max-width: 479.98px) {
  .section-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .title-container {
    padding-bottom: 0.2rem;
    position: relative;
    transform: translate(0, 0);
    text-align: center;
  }

  .title-container h1 {
    font-family: "DM Serif Display", serif;
    font-size: 9vw;
  }

  .contacts-container {
    width: 100%;
  }

  .contacts-content-container {
    width: 100%;
  }
}
