.section-container {
  padding: 10rem;
  z-index: 100;
}

.title-container {
  width: 100%;
  padding-bottom: 1rem;
  z-index: 100;
}

.title-container h1 {
  font-size: 4vw;
  font-family: "DM Serif Display", serif;
  color: #e1c565;
  z-index: 100;
}

.contacts-container {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  z-index: 100;
}

.contacts-content-container {
  width: 100%;
  height: 20rem;
  background-color: white;
  z-index: 100;
}

@media screen and (max-width: 479.98px) {
  .section-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .title-container {
    padding-bottom: 0.2rem;
    position: relative;
    transform: translate(0, 0);
    text-align: center;
  }

  .title-container h1 {
    font-family: "DM Serif Display", serif;
    font-size: 9vw;
  }

  .contacts-container {
    width: 100%;
  }

  .contacts-content-container {
    width: 100%;
  }
}
