.section-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  /* padding: 5rem; */
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.links-container {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
  /* font-size: 1.5em; */
  display: flex;
  flex-direction: column;
}

.links-container button {
  /* width: 15%; */
  border: none;
  /* margin: 0.1rem; */
  background-color: transparent;
  font-family: "Playfair Display", serif;
  color: white;
}

.image-container {
  width: 100%;
  height: 30vh;
  /* margin-top: 3.5rem; */
}

.img-container img:hover {
  cursor: pointer;
}

.signature-container {
  font-family: "Playfair Display", serif;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

@media screen and (min-width: 128px) {
  .section-container {
  }

  .footer-container {
    width: 100%;
    position: relative;
  }

  .footer-container img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }

  .links-container {
    font-size: 5.5vw;
    position: absolute;
    transform: translateY(30%);
  }

  .links-container button {
    width: 100%;
  }

  .image-container {
    margin-top: 2rem;
    width: 85%;
    position: absolute;
    transform: translateY(60%);
  }

  .image-container img {
    width: 100%;
    text-align: center;
    justify-content: center;
<<<<<<< HEAD
    margin-bottom: 10rem;
  }

  .image-container img {
    width: 55%;
    text-align: center;
    justify-content: center;
  }

  .signature-container {
    font-size: 2vw;
  }
}

@media screen and (min-width: 650px) {
  .links-container {
    font-size: 3.7vw;
  }

  .image-container {
    margin-bottom: 12rem;
  }

  .image-container img {
    width: 35%;
  }
}

@media screen and (min-width: 1000px) {
  .links-container {
    font-size: 2.2v;
  }

  .image-container {
    margin-bottom: 8rem;
  }

  .image-container img {
    width: 28%;
=======
>>>>>>> parent of 4bc4a09 (Mobile and Tablet responsiveness)
  }
}

@media screen and (min-width: 1200px) {
  .links-container {
    font-size: 1.8vw;
  }

  .image-container {
    margin-bottom: 6rem;
  }

  .image-container img {
    width: 22%;
  }
}

@media screen and (min-width: 1400px) {
  .section-container {
    height: 100vh;
  }

  .footer-container {
    height: 100vh;
  }

  .links-container {
    font-size: 2vw;
  }

  .image-container {
    margin-bottom: 10rem;
  }

  .image-container img {
    width: 27%;
  }

  .signature-container {
    margin-top: 13rem;
  }
}

@media screen and (min-width: 1600px) {
}
