<div class="section-container">
  <div class="content-container">
    <div class="footer-container">
      <img src="assets/images/footer.jpg" alt="footer" />
    </div>
    <div class="footer-content-container">
      <div class="links-container">
        <button (click)="scrollToElement('location')">Wedding</button>
        <button (click)="scrollToElement('about-us')">About Us</button>
        <button (click)="scrollToElement('registry')">Registry</button>
        <button (click)="goToRsvpForm()">RSVP</button>
      </div>
      <div class="image-container">
        <img src="/assets/images/logo/Footer logo.png" alt="R&R Logo" />
      </div>
      <div class="signature-container">Developed by Alessandro Cruz</div>
    </div>
  </div>
</div>
