<div class="section-container">
  <div class="content-container">
    <div class="footer-container">
      <!-- <img src="assets/images/footer.jpg" alt="footer" /> -->
      <div class="links-container">
        <button (click)="toLocation()">Wedding</button>
        <button (click)="toAboutUs()">About Us</button>
        <button (click)="toRegistry()">Registry</button>
        <button (click)="goToRsvpForm()">RSVP</button>
      </div>
      <div class="image-container">
        <img
          (click)="toLanding()"
          src="/assets/images/logo/Footer logo.png"
          alt="R&R Logo"
        />
      </div>
    </div>
  </div>
</div>
