.section-container {
  display: flex;
  padding: 8rem;
}

.title-container {
  width: 100%;
  color: white;
  font-family: "Playfair Display";
  font-size: 4em;
}

.image-container {
  width: 70%;
  /* height: 70rem; */
  background-color: white;
}

.content-container {
  padding-left: 3rem;
  width: 30%;
}

.subtext-container {
  font-family: "Source Serif 4", serif;
  font-size: 2em;
  width: 100%;
  color: white;
}

#second-line {
  padding-bottom: 3rem;
}

.shape-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.circle-1,
.circle-2,
.circle-3,
.circle-4,
.circle-5 {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.circle-1 {
  background-color: #a7a995;
}
.circle-2 {
  background-color: #976b6b;
}
.circle-3 {
  background-color: #dd7658;
}
.circle-4 {
  background-color: #fead48;
}
.circle-5 {
  background-color: #8a905f;
}

/*.circle {
  background-color: #a7a995;
} */

@media screen and (max-width: 479.98px) {
  .image-container img {
    border-radius: 1rem;
  }

  .section-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
  }

  .content-container-1 {
    margin-right: 0;
    width: 100%;
    padding-bottom: 0.3rem;
  }

  .content-container-2 {
    margin-left: 0;
    width: 100%;
    padding-top: 0.3rem;
  }

  .title-container {
    padding-bottom: 0.2rem;
    position: relative;
    transform: translate(0, 0);
    text-align: center;
  }

  .title-container h1 {
    font-family: "DM Serif Display", serif;
    font-size: 9vw;
  }

  .message-container {
    padding-top: 0.2rem;
  }
}
