<div class="section-container">
  <div class="content-container-1">
    <div class="title-container">
      <h1>Location</h1>
    </div>
  </div>
  <div class="content-container-2">
    <div class="ceremony-container">
      <div class="sub-title-container">
        <h2>Ceremony: St. Benedict Parish — Silang, Cavite</h2>
      </div>
      <div class="maps-container-1">
        <iframe
          width="90%"
          height="450em"
          style="border: 0"
          loading="lazy"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyABWyB2mUkkQ1HLHo9KcmP7dZtydc8xZMM&q=St.+Benedict+Parish-Westgrove+(Diocese+of+Imus)"
        ></iframe>
      </div>
    </div>
    <div class="reception-container">
      <div class="sub-title-container">
        <h2>Reception: Balay Dako — Batangas, PH</h2>
      </div>
      <div class="maps-container-2">
        <iframe
          width="90%"
          height="450em"
          style="border: 0"
          loading="lazy"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyABWyB2mUkkQ1HLHo9KcmP7dZtydc8xZMM&q=Balay+Dako,Tagaytay+Cavite"
        ></iframe>
      </div>
    </div>
  </div>
</div>
