.section-container {
  display: flex;
}

.title-container {
  width: 100%;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 3vw;
}

.image-container {
  width: 70%;
  /* height: 70rem; */
  background-color: white;
}

.content-container {
}

.subtext-container {
  font-family: "Source Serif 4", serif;
  font-size: 1.5vw;
  width: 100%;
  color: white;
}

#second-line {
  padding-bottom: 3rem;
}

.shape-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.circle-1,
.circle-2,
.circle-3,
.circle-4,
.circle-5 {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.circle-1 {
  background-color: #a7a995;
}
.circle-2 {
  background-color: #976b6b;
}
.circle-3 {
  background-color: #dd7658;
}
.circle-4 {
  background-color: #fead48;
}
.circle-5 {
  background-color: #8a905f;
}

.carousel {
  width: 100%;
  margin: 0 auto;
}

.slide {
  overflow: hidden;
  height: 50vh;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*.circle {
  background-color: #a7a995;
} */

@media screen and (min-width: 128px) {
  .section-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5rem;
    margin-bottom: 5rem;
    position: relative;
  }

  .image-container {
    width: 100%;
    height: 60vh;
    position: static;
    background-color: white;
  }

  .slide {
    height: 60vh;
  }

  .slide img {
    height: 60vh;
    filter: brightness(65%);
  }

  .content-container {
    width: 100%;
    padding: 0;
    margin: 0;
    /* position: absolute; */
    z-index: 1;
  }

  .location-container {
    position: absolute;
    width: 100%;
  }

  #ceremony {
    top: 10%;
  }

  #reception {
    top: 35%;
  }

  #attire {
    top: 60%;
  }

  .title-container {
    font-size: 6vw;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subtext-container {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #second-line {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle-1,
  .circle-2,
  .circle-3,
  .circle-4,
  .circle-5 {
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    margin: 0 0.5rem;
  }
}

@media screen and (min-width: 650px) {
  .image-container {
    height: 70vh;
  }

  .slide {
    height: 70vh;
  }

  .slide img {
    height: 70vh;
  }
}

@media screen and (min-width: 1000px) {
  .section-container {
    flex-direction: row;
    padding: 4rem 0;
  }

  .content-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .location-container {
    position: static;
    width: 100%;
  }

  .slide img {
    filter: brightness(100%);
  }

  .image-container {
    width: 60%;
  }

  .title-container {
    font-size: 3.5vw;
  }

  .subtext-container {
    font-size: 2.3vw;
  }

  /* #ceremony {
    top: 15%;
  }

  #reception {
    top: 40%;
  }

  #attire {
    top: 65%;
  } */
}
