<!-- <div class="section-container">
  <div class="content-container-1">
    <div class="title-container">
      <h1>Location</h1>
    </div>
  </div>
  <div class="content-container-2">
    <div class="ceremony-container">
      <div class="sub-title-container">
        <h2>Ceremony: St. Benedict Parish — Silang, Cavite</h2>
      </div>
      <div class="maps-container-1">
        <iframe
          loading="lazy"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyABWyB2mUkkQ1HLHo9KcmP7dZtydc8xZMM&q=St.+Benedict+Parish-Westgrove+(Diocese+of+Imus)"
        ></iframe>
      </div>
    </div>
    <div class="reception-container">
      <div class="sub-title-container">
        <h2>Reception: Balay Dako — Batangas, PH</h2>
      </div>
      <div class="maps-container-2">
        <iframe
          loading="lazy"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyABWyB2mUkkQ1HLHo9KcmP7dZtydc8xZMM&q=Balay+Dako,Tagaytay+Cavite"
        ></iframe>
      </div>
    </div>
  </div>
</div> -->

<div class="section-container">
  <div class="image-container"></div>
  <div class="content-container">
    <div id="ceremony" class="location-container">
      <div class="title-container"><strong>Ceremony</strong></div>
      <div class="subtext-container">St. Benedict Parish - Westgrove</div>
      <div id="second-line" class="subtext-container">1:30PM</div>
    </div>
    <div id="reception" class="location-container">
      <div class="title-container"><strong>Reception</strong></div>
      <div class="subtext-container">Balay Dako, Tagaytay</div>
      <div id="second-line" class="subtext-container">5:00PM</div>
    </div>
    <div id="attire" class="location-container">
      <div class="title-container"><strong>Attire</strong></div>
      <div class="subtext-container">Formal or Black Tie Optional</div>
      <div id="second-line" class="subtext-container">in colors</div>
      <div class="shape-container">
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <div class="circle-3"></div>
        <div class="circle-4"></div>
        <div class="circle-5"></div>
      </div>
    </div>
  </div>
</div>
